.card {
    border: 1px #EB5757 solid;
    border-radius: 10px;
}

.card_image {
    max-width: 100%;
}

.card_title {
    background-color: #EB5757;
    color: #fff;
}

.card_info {
    font-size: 12px;
}